@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Play', sans-serif;
    background-color: #bb93c8;
    font-size: 35px;
    color: #ffffff;
}
.container{
    width: 70%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cont-prop{
    margin-top: 20px;
    font-weight: 700;
    font-size: 70px;
}
.dp-flex{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    
}
.flex-val-name{
    margin-bottom: 20px;
    font-size: 50px;
    border-bottom: solid black 6px;
    padding-bottom: 10px;
}
.show-container{
    border: solid #5c3669 10px;
    width: 100%;
    height: 600px;
    display: flex;
    overflow: hidden;
}
.buttons{
    margin-top: 15px;
    display: flex;
    width: 100%;
}
.buttons button{
    font-size: 40px;
    padding: 10px 20px;
    border: solid #5c3669 5px;
    color: #fff;
    background-color: #a068b3;
    cursor: pointer;
    transition: all ease 0.3s;
    

}
.buttons button:hover{
    background-color: #bc94c9;
}
.active{
    background-color: #bc94c9 !important;
}
.block:nth-child(2n){
    width: 100px;
    height: 100px;
    background-color: #ed73fb;
    margin: 20px;
    border: solid #5c3669 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.block:nth-child(2n + 1){
    width: 100px;
    height: 100px;
    background-color: red;
    margin: 20px;
    border: solid #5c3669 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.description{
    font-size: 25px;
}
.description *{
    margin: 10px 0;
}
.usability, .prop, .default{
    color: black;
}